@model ActeAdministratif.Models.Document

@{
    ViewData["Title"] = "Delete";
}

@{
    Layout = "_Layout"; // Disable the layout for this specific page
}


<h2>Delete</h2>

<h3>Etes vous sur?</h3>
<div>
    <h4>Document</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Circonscription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Circonscription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LieuxEtablissement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LieuxEtablissement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomDeFamille)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomDeFamille)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomDeJeuneFille)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomDeJeuneFille)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pseudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pseudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SituationMatrimoniale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SituationMatrimoniale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEnfant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEnfant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDenaissance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDenaissance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LieuxNaissance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LieuxNaissance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaysNaissance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaysNaissance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nationnalite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nationnalite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommuneDeNaissance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommuneDeNaissance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDeTelephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroDeTelephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profession)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profession)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Domicile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domicile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeDepiece)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeDepiece)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDePiece)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroDePiece)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEdition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEdition)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
        

       