@*@model IEnumerable<ActeAdministratif.Models.Document>*@
@model List<ActeAdministratif.Models.Enregistrer>

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = null; // Disable the layout for this specific page
}
<h1>Home</h1>

<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SNDI | Dashboard</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.min.css">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/img/Sndi.jpg" alt="Sndi" height="60" width="60">
        </div>
        //Huat
                <!-- Navbar -->
                <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
        
                    </ul>

                    <!-- Right navbar links -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Navbar Search -->
                        <li class="nav-item">
                            <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                                <i class="fas fa-search"></i>
                            </a>
                            <div class="navbar-search-block">
                                <form class="form-inline">
                                    <div class="input-group input-group-sm">
                                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                        <div class="input-group-append">
                                            <button class="btn btn-navbar" type="submit">
                                                <i class="fas fa-search"></i>
                                            </button>
                                            <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                                <i class="fas fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>

                </nav>
                <!-- /.navbar -->
                <!-- Main Sidebar Container -->
                <aside class="main-sidebar sidebar-dark-primary elevation-4">
                    <!-- Brand Logo -->
                    <a href="index3.html" class="brand-link">
                        <img src="~/img/Sndi.jpg" alt="Sndi Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                        <span class="brand-text font-weight-light">SNDI</span>
                    </a>

                    <!-- Sidebar -->
                    <div class="sidebar">
                        <!-- Sidebar user panel (optional) -->
                        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                            <div class="image">
                                <img src="/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                            </div>
                            <div class="info">
                                <a href="#" class="d-block">ID User:*******</a>
                            </div>
                        </div>

                        <!-- SidebarSearch Form -->
                        <div class="form-inline">
                            <div class="input-group" data-widget="sidebar-search">
                                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-sidebar">
                                        <i class="fas fa-search fa-fw"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- Sidebar Menu -->
                        <nav class="mt-2">
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                <!-- Add icons to the links using the .nav-icon class
                                     with font-awesome or any other icon font library -->
                                <li class="nav-item menu-open">
                                    <a href="#" class="nav-link active">
                                        <i class="nav-icon fas fa-tachometer-alt"></i>
                                        <p>
                                            Dashboard
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Admin"
                                               asp-action="">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Gestion des operateurs de saisie</p>
                                                Register
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="DemandeInit"
                                               asp-action="Index">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Demande initier</p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Documents"
                                               asp-action="Index">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Enregister demandeur</p>
                                            </a>
                                        </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller=""
                                           asp-action="">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Gerer mon compte</p>
                                        </a>
                                    </li>
                                    </ul>
                                </li>
                                

                            </ul>
                        </nav>
                        <!-- /.sidebar-menu -->
                    </div>
                    <!-- /.sidebar -->
                </aside>
        
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Liste des demandeurs</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
       
                                <li class="breadcrumb-item active">Dashboard v1</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h3>150</h3>

                                    <p>New Orders</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>53<sup style="font-size: 20px">%</sup></h3>

                                    <p>Bounce Rate</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3>44</h3>

                                    <p>User Registrations</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>65</h3>

                                    <p>Unique Visitors</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                    </div>
                </div><!-- /.container-fluid -->
                <p>
                    <a asp-action="Create" class="btn btn-success btn-sm">Nouvelle demande</a>

                </p>
                <div >

                    <!-- Main content -->
                    @foreach (var enregistrement in Model)
                    {
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Default box -->
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">  @Html.DisplayNameFor(model => enregistrement.Document.Numero) :@Html.DisplayFor(modelItem => enregistrement.Document.Numero)</h3>

                                                <div class="card-tools">
                                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                        <i class="fas fa-minus"></i>
                                                    </button>


                                                    <button type="button" class="btn btn-tool" data-card-widget="" title="Action">
                                                        <!-- Notifications Dropdown Menu -->
                                                        <li class="nav-item dropdown">
                                                            <a class="nav-link" data-toggle="dropdown" href="#">
                                                                <i class="far fa-bell"></i>
                                                                <span class="badge badge-warning navbar-badge">15</span>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                                                <span class="dropdown-item dropdown-header">15 Notifications</span>
                                                                <div class="dropdown-divider"></div>

                                                                <a class="dropdown-item" href="/DemandeInit/Create?enregistrerId=@enregistrement?.Id">
                                                                    <i class="fas fa-envelope mr-2"></i> Initier la demande
                                                                    <span class="float-right text-muted text-sm">3 mins</span>
                                                                </a>
                                                                <div class="dropdown-divider"></div>
                                                                <a href="#" class="dropdown-item">
                                                                    <i class="fas fa-users mr-2"></i> 8 friend requests
                                                                    <span class="float-right text-muted text-sm">12 hours</span>
                                                                </a>
                                                                <div class="dropdown-divider"></div>
                                                                <a href="#" class="dropdown-item">
                                                                    <i class="fas fa-file mr-2"></i> 3 new reports
                                                                    <span class="float-right text-muted text-sm">2 days</span>
                                                                </a>
                                                                <div class="dropdown-divider"></div>
                                                                <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                                                            </div>
                                                        </li>
                                                    </button>
                                                   


                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <table class="table">
                                                    <tr>
                                                        <td>Numero:@enregistrement.Document?.Numero</td>
                                                        <td>Date:  @enregistrement.Document?.Date</td>
                                                        <td>Circonscription :@enregistrement.Document?.Circonscription</td>
                                                        <td>LieuxEtablissement:@enregistrement.Document?.LieuxEtablissement</td>
                                                        <td>NomDeFamille:   @enregistrement.Document?.NomDeFamille</td>
                                                         
                                                    </tr>
                                                    <tr>
                                                        <td> NomDeJeuneFille:@enregistrement.Document?.NomDeJeuneFille</td>
                                                        <td>Prenom:  @enregistrement.Document?.Prenom</td>
                                                        <td>Pseudo:@enregistrement.Document?.Pseudo</td>
                                                        <td>Sexe:@enregistrement.Document?.Sexe</td>
                                                        <td>SituationMatrimoniale:@enregistrement.Document?.SituationMatrimoniale</td>
                                                        <td>SituationMatrimoniale:@enregistrement.Document?.SituationMatrimoniale</td>
                                                    </tr>

                                                    <tr>
                                                        
                                                        
                                                        <td>NombreEnfant:  @enregistrement.Document?.NombreEnfant</td>
                                                        <td>DateDenaissance: @enregistrement.Document?.DateDenaissance</td>
                                                        <td>LieuxNaissance:@enregistrement.Document?.LieuxNaissance</td>
                                                        <td>PaysNaissance: @enregistrement.Document?.PaysNaissance</td>
                                                        <td> Nationnalite: @enregistrement.Document?.Nationnalite</td>
                                                        <td> CommuneDeNaissance: @enregistrement.Document?.CommuneDeNaissance</td>
                                                    </tr>
                                                    <tr>
                                                        <td> NumeroDeTelephone:@enregistrement.Document?.NumeroDeTelephone</td>
                                                        <td> Profession: @enregistrement.Document?.Profession</td>
                                                        <td>Domicile:  @enregistrement.Document?.Domicile</td>
                                                        <td> TypeDepiece  @enregistrement.Document?.TypeDepiece</td>
                                                        <td> NumeroDePiece: @enregistrement.Document?.NumeroDePiece</td>
                                                        <td>DateEdition:@enregistrement.Document?.DateEdition</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <td>NomPere: @enregistrement.Filiation?.NomPere</td>
                                                        <td>PrenomPere: @enregistrement.Filiation?.PrenomPere</td>
                                                        <td>DateDenaissancePere:@enregistrement.Filiation?.DateDenaissancePere</td>
                                                        <td>LieuxNaissancePere:@enregistrement.Filiation?.LieuxNaissancePere</td>
                                                        <td>TypeDePiecesPere:  @enregistrement.Filiation?.TypeDePiecesPere</td>
                                                        <td>NumeroPiecePere: @enregistrement.Filiation?.NumeroPiecePere</td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td> DateeditionPere:@enregistrement.Filiation?.DateeditionPere</td>
                                                        <td>LieuxEditionPere: @enregistrement.Filiation?.LieuxEditionPere</td>
                                                        <td> NomMere:   @enregistrement.Filiation?.NomMere</td>
                                                        <td>PrenomMere: @enregistrement.Filiation?.PrenomMere</td>
                                                        <td>DateDenaissanceMere:@enregistrement.Filiation?.DateDenaissanceMere</td>
                                                    </tr>

                                                    <tr>   
                                                        <td> LieuxNaissanceMere:@enregistrement.Filiation?.LieuxNaissanceMere</td>
                                                        <td>TypeDePiecesMere   : @enregistrement.Filiation?.TypeDePiecesMere</td>
                                                        <td>NumeroPieceMere: @enregistrement.Filiation?.NumeroPieceMere</td>
                                                        <td>DateeditionMere:  @enregistrement.Filiation?.DateeditionMere</td>
                                                        <td> LieuxEditionMere:@enregistrement.Filiation?.LieuxEditionMere</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a asp-action="Editcmp" asp-route-id="@enregistrement.Id"> <i class="fas fa-edit">Edit</i></a> |
                                                            <a asp-action="Details" asp-route-id=""><i class="fas fa-inbox text-warning"></i> Details</a> |
                                                            <a asp-action="Delete" asp-route-id=""><i class="fas fa-trash text-danger"></i>Delete</a>
                
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <!-- /.card-body -->
                                            <div class="card-footer">
                                                Footer
                                            </div>
                                            <!-- /.card-footer-->
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                </div>
                            </div>
                        </section>
                    }

                    <!-- /.content -->
                </div>
            </section>

            
            

            <!-- /.content -->
        </div>
        
       

        <footer class="main-footer">
            <strong>Copyright &copy; 2023 <a href="https://adminlte.io">SNDI</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.2.0
            </div>
        </footer>

        
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="/plugins/moment/moment.min.js"></script>
    <script src="/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/dist/js/pages/dashboard.js"></script>
</body>
</html>






