@model List<ActeAdministratif.Models.Enregistrer>

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "_Layout"; // Disable the layout for this specific page
}

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
               
                    @foreach (var enregistrement in Model)
                    {
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Default box -->
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">  @Html.DisplayNameFor(model => enregistrement.Document.Numero) :@Html.DisplayFor(modelItem => enregistrement.Document.Numero)</h3>


                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">

                                            <a data-toggle="tooltip" data-placement="top" title="Details" asp-action="Details" asp-route-id=""><i class="fa fa-level-down text-success" aria-hidden="true"></i> </a>
                                        </button>

                                        <button type="button" class="btn btn-tool" data-card-widget="" title="Action">
                                            <!-- Notifications Dropdown Menu -->
                                            <li class="nav-item dropdown">
                                                <a class="nav-link" data-toggle="dropdown" href="#">
                                                    <i class="fa fa-chain-broken" aria-hidden="true" style="color: black;"></i>
                                                    @*<span class="badge badge-warning navbar-badge">demande</span>*@
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                                    <span class="dropdown-item dropdown-header">Action</span>
                                                    <div class="dropdown-divider"></div>

                                                    <a class="dropdown-item" href="/DemandeInit/Create?enregistrerId=@enregistrement?.Id">
                                                        <i class="fa fa-info" aria-hidden="true"></i>
                                                        Initier la demande
                                                        <span class="float-right text-muted text-sm">maintenant</span>
                                                    </a>

                                                </div>
                                            </li>
                                        </button>



                                                </div>
                                            </div>
                                <div class="card-body collapse">
                                                <table class="table">
                                                    <tr>
                                                        <td>Numero:@enregistrement.Document?.Numero</td>
                                                        <td>Date:  @enregistrement.Document?.Date</td>
                                                        <td>Circonscription :@enregistrement.Document?.Circonscription</td>
                                                        <td>LieuxEtablissement:@enregistrement.Document?.LieuxEtablissement</td>
                                                        <td>NomDeFamille:   @enregistrement.Document?.NomDeFamille</td>

                                                    </tr>
                                                    <tr>
                                                        <td> NomDeJeuneFille:@enregistrement.Document?.NomDeJeuneFille</td>
                                                        <td>Prenom:  @enregistrement.Document?.Prenom</td>
                                                        <td>Pseudo:@enregistrement.Document?.Pseudo</td>
                                                        <td>Sexe:@enregistrement.Document?.Sexe</td>
                                                        <td>SituationMatrimoniale:@enregistrement.Document?.SituationMatrimoniale</td>
                                                        <td>SituationMatrimoniale:@enregistrement.Document?.SituationMatrimoniale</td>
                                                    </tr>

                                                    <tr>


                                                        <td>NombreEnfant:  @enregistrement.Document?.NombreEnfant</td>
                                                        <td>DateDenaissance: @enregistrement.Document?.DateDenaissance</td>
                                                        <td>LieuxNaissance:@enregistrement.Document?.LieuxNaissance</td>
                                                        <td>PaysNaissance: @enregistrement.Document?.PaysNaissance</td>
                                                        <td> Nationnalite: @enregistrement.Document?.Nationnalite</td>
                                                        <td> CommuneDeNaissance: @enregistrement.Document?.CommuneDeNaissance</td>
                                                    </tr>
                                                    <tr>
                                                        <td> NumeroDeTelephone:@enregistrement.Document?.NumeroDeTelephone</td>
                                                        <td> Profession: @enregistrement.Document?.Profession</td>
                                                        <td>Domicile:  @enregistrement.Document?.Domicile</td>
                                                        <td> TypeDepiece  @enregistrement.Document?.TypeDepiece</td>
                                                        <td> NumeroDePiece: @enregistrement.Document?.NumeroDePiece</td>
                                                        <td>DateEdition:@enregistrement.Document?.DateEdition</td>
                                                    </tr>

                                                    <tr>
                                                        <td>NomPere: @enregistrement.Filiation?.NomPere</td>
                                                        <td>PrenomPere: @enregistrement.Filiation?.PrenomPere</td>
                                                        <td>DateDenaissancePere:@enregistrement.Filiation?.DateDenaissancePere</td>
                                                        <td>LieuxNaissancePere:@enregistrement.Filiation?.LieuxNaissancePere</td>
                                                        <td>TypeDePiecesPere:  @enregistrement.Filiation?.TypeDePiecesPere</td>
                                                        <td>NumeroPiecePere: @enregistrement.Filiation?.NumeroPiecePere</td>

                                                    </tr>
                                                    <tr>
                                                        <td> DateeditionPere:@enregistrement.Filiation?.DateeditionPere</td>
                                                        <td>LieuxEditionPere: @enregistrement.Filiation?.LieuxEditionPere</td>
                                                        <td> NomMere:   @enregistrement.Filiation?.NomMere</td>
                                                        <td>PrenomMere: @enregistrement.Filiation?.PrenomMere</td>
                                                        <td>DateDenaissanceMere:@enregistrement.Filiation?.DateDenaissanceMere</td>
                                                    </tr>

                                                    <tr>
                                                        <td> LieuxNaissanceMere:@enregistrement.Filiation?.LieuxNaissanceMere</td>
                                                        <td>TypeDePiecesMere   : @enregistrement.Filiation?.TypeDePiecesMere</td>
                                                        <td>NumeroPieceMere: @enregistrement.Filiation?.NumeroPieceMere</td>
                                                        <td>DateeditionMere:  @enregistrement.Filiation?.DateeditionMere</td>
                                                        <td> LieuxEditionMere:@enregistrement.Filiation?.LieuxEditionMere</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a asp-action="Editcmp" asp-route-id="@enregistrement.Id"> <i class="fas fa-edit">Edit</i></a> |
                                                            <a asp-action="Details" asp-route-id=""><i class="fas fa-inbox text-warning"></i> Details</a> |
                                                            <a asp-action="Delete" asp-route-id=""><i class="fas fa-trash text-danger"></i>Delete</a>

                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <!-- /.card-body -->
                                            <div class="card-footer">
                                                Footer
                                            </div>
                                            <!-- /.card-footer-->
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                </div>
                            </div>
                        </section>
                    }
                    <!-- /.content -->
                </div>
            </section>




            <!-- /.content -->
        </div>
