@model ActeAdministratif.Models.Filiation

@{
    ViewData["Title"] = "Delete";
}

@{
    Layout = "_Layout"; // Disable the layout for this specific page
}



<div class="text-center">
    <h3>Etes vous sur de supprimer cici</h3>
</div>

<div>
    <h4>Filiation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomPere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomPere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrenomPere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrenomPere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDenaissancePere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDenaissancePere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LieuxNaissancePere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LieuxNaissancePere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomMere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomMere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrenomMere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrenomMere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDenaissanceMere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDenaissanceMere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LieuxNaissanceMere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LieuxNaissanceMere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Document.id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
        