@model IEnumerable<ActeAdministratif.Models.Filiation>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_Layout"; // Disable the layout for this specific page
}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                               
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                
                <div>

                    <!-- Main content -->
                    @foreach (var item in Model)
                    {
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Default box -->
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">@Html.DisplayNameFor(model => model.id): @Html.DisplayFor(modelItem => item.id)</h3>

                                                <div class="card-tools">
                                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <table class="table">
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayNameFor(model => model.NomPere): @Html.DisplayFor(modelItem => item.NomPere)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayNameFor(model => model.PrenomPere): @Html.DisplayFor(modelItem => item.PrenomPere)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayNameFor(model => model.DateDenaissancePere): @Html.DisplayFor(modelItem => item.DateDenaissancePere)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayNameFor(model => model.LieuxNaissancePere): @Html.DisplayFor(modelItem => item.LieuxNaissancePere)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayNameFor(model => model.TypeDePiecesPere): @Html.DisplayFor(modelItem => item.TypeDePiecesPere)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayNameFor(model => model.NumeroPiecePere): @Html.DisplayFor(modelItem => item.NumeroPiecePere)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayNameFor(model => model.DateeditionPere): @Html.DisplayFor(modelItem => item.DateeditionPere)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayNameFor(model => model.LieuxEditionPere): @Html.DisplayFor(modelItem => item.LieuxEditionPere)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayNameFor(model => model.NomMere): @Html.DisplayFor(modelItem => item.NomMere)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayNameFor(model => model.PrenomMere): @Html.DisplayFor(modelItem => item.PrenomMere)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayNameFor(model => model.DateDenaissanceMere): @Html.DisplayFor(modelItem => item.DateDenaissanceMere)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayNameFor(model => model.LieuxNaissanceMere): @Html.DisplayFor(modelItem => item.LieuxNaissanceMere)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayNameFor(model => model.TypeDePiecesMere): @Html.DisplayFor(modelItem => item.TypeDePiecesMere)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayNameFor(model => model.NumeroPieceMere): @Html.DisplayFor(modelItem => item.NumeroPieceMere)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayNameFor(model => model.DateeditionMere): @Html.DisplayFor(modelItem => item.DateeditionMere)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayNameFor(model => model.LieuxEditionMere): @Html.DisplayFor(modelItem => item.LieuxEditionMere)
                                                        </td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a asp-action="Edit" asp-route-id="@item.id"> <i class="fas fa-edit">Edit</i></a> |
                                                            <a asp-action="Details" asp-route-id="@item.id"><i class="fas fa-inbox text-warning"></i> Details</a> |
                                                           @* <a asp-action="Delete" asp-route-id="@item.id"><i class="fas fa-trash text-danger"></i>Delete</a>
                                                            <a asp-action="" asp-route-id="@item.id"><i class=""></i>Imprimer</a>*@
                                                        </td>
                                                    </tr>
                                                    <!-- Vous pouvez continuer à ajouter d'autres champs de données ici -->
                                                </table>
                                            </div>
                        
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                </div>
                            </div>
                        </section>
                    }

                    <!-- /.content -->
                </div>
            </section>

            <p>
                <a asp-action="Create">Nouveau</a>
            </p>


            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Content Wrapper. Contains page content -->

