@model ActeAdministratif.Models.RegroupeViewModel

@{
    ViewData["Title"] = "Regroupe";
}
@{
    Layout = "_Layout"; // Disable the layout for this specific page
}



<div>
   
    <form asp-action="Regroupe" class="row g-3 needs-validation uniform-border" novalidate enctype="multipart/form-data">
        <input type="hidden" name="FiliationId" value="@Model.Filiation?.id" />
        <input type="hidden" name="DocumentId" value="@Model.Document?.id" />
        <div class="text-end">
            <button class="btn btn-primary" type="submit">valider</button>
        </div>
    </form>
    <a asp-action="Index">Retour à la liste</a>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="callout callout-info">
                    <h5><i class="fas fa-info"></i> Note:</h5>
                    Toutes les données saisie.
                </div>


                <!-- Main content -->
                <div class="invoice p-3 mb-3">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <i class="fas fa-globe"></i>Recaputilatif Complet.
                                <small class="float-right">Date: 2/10/2014</small>
                            </h4>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            Etape 1/2
                            <address>
                                <strong>Info document .</strong><br>
                                Numéro de Document: @Model.Document?.Numero<br>
                                Date du Document: @Model.Document?.Date<br>
                                Circonscription: @Model.Document?.Circonscription<br>
                                Lieux etablissement: @Model.Document?.LieuxEtablissement<br>
                                NomDeFamille: @Model.Document?.NomDeFamille<br>
                                Nom de JeuneFille: @Model.Document?.NomDeJeuneFille<br>
                                Prenom: @Model.Document?.Prenom<br>
                                Pseudo: @Model.Document?.Pseudo<br>
                                Sexe : @Model.Document?.Sexe<br>
                                Situation matrimoniale: @Model.Document?.SituationMatrimoniale<br>
                                NombreEnfant: @Model.Document?.NombreEnfant<br>
                                Date de naissance: @Model.Document?.DateDenaissance<br>
                                Lieux de naissance: @Model.Document?.LieuxNaissance<br>
                                Pays de naissance: @Model.Document?.PaysNaissance<br>
                                Nationnalite: @Model.Document?.Nationnalite<br>
                                Commune de naissance: @Model.Document?.CommuneDeNaissance<br>
                                Numero de telephone: @Model.Document?.NumeroDeTelephone<br>
                                Profession: @Model.Document?.Profession<br>
                                Numero: @Model.Document?.Numero<br>
                                Domicile: @Model.Document?.Domicile<br>
                                Type de piece: @Model.Document?.TypeDepiece<br>
                                Numero de piece: @Model.Document?.NumeroDePiece<br>
                                DateEdition: @Model.Document?.DateEdition<br>

                            </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            etape 2/2
                            <address>
                                <strong>Info filiation</strong><br>
                                Nom du père: @Model.Filiation?.NomPere<br>
                                Prénom du père: @Model.Filiation?.PrenomPere<br>
                                Date de naissance du père: @Model.Filiation?.DateDenaissancePere<br>
                                Lieux de naissance du père: @Model.Filiation?.LieuxNaissancePere<br>
                                Nom de la mère: @Model.Filiation?.NomMere<br>
                                Prénom de la mère: @Model.Filiation?.PrenomMere<br>
                                Date de naissance de la mère: @Model.Filiation?.DateDenaissanceMere<br>
                                Lieux de naissance de la mère: @Model.Filiation?.LieuxNaissanceMere<br>
                            </address>
                        </div>
                        <!-- /.col -->
@*                                            <div class="col-sm-4 invoice-col">
                            <b>Invoice #007612</b><br>
                            <br>
                            <b>Order ID:</b> 4F3S8J<br>
                            <b>Payment Due:</b> 2/22/2014<br>
                            <b>Account:</b> 968-34567
                        </div>*@
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- Table row -->
                    @*<div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Qty</th>
                                        <th>Product</th>
                                        <th>Serial #</th>
                                        <th>Description</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Call of Duty</td>
                                        <td>455-981-221</td>
                                        <td>El snort testosterone trophy driving gloves handsome</td>
                                        <td>$64.50</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Need for Speed IV</td>
                                        <td>247-925-726</td>
                                        <td>Wes Anderson umami biodiesel</td>
                                        <td>$50.00</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Monsters DVD</td>
                                        <td>735-845-642</td>
                                        <td>Terry Richardson helvetica tousled street art master</td>
                                        <td>$10.70</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Grown Ups Blue Ray</td>
                                        <td>422-568-642</td>
                                        <td>Tousled lomo letterpress</td>
                                        <td>$25.99</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>*@
                    <!-- /.row -->

                    <div class="row">
                        <!-- accepted payments column -->
                        @*<div class="col-6">
                            <p class="lead">Payment Methods:</p>
                            <img src="../../dist/img/credit/visa.png" alt="Visa">
                            <img src="../../dist/img/credit/mastercard.png" alt="Mastercard">
                            <img src="../../dist/img/credit/american-express.png" alt="American Express">
                            <img src="../../dist/img/credit/paypal2.png" alt="Paypal">

                            <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                                Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
                                plugg
                                dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                            </p>
                        </div>*@
                        <!-- /.col -->
                        @* <div class="col-6">
                            <p class="lead">Amount Due 2/22/2014</p>

                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th style="width:50%">Subtotal:</th>
                                        <td>$250.30</td>
                                    </tr>
                                    <tr>
                                        <th>Tax (9.3%)</th>
                                        <td>$10.34</td>
                                    </tr>
                                    <tr>
                                        <th>Shipping:</th>
                                        <td>$5.80</td>
                                    </tr>
                                    <tr>
                                        <th>Total:</th>
                                        <td>$265.24</td>
                                    </tr>
                                </table>
                            </div>
                        </div>*@
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- this row will not appear when printing -->
                    <div class="row no-print">
                        <div class="col-12">
                            <a href="invoice-print.html" rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                           
                            <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                                <i class="fas fa-download"></i> Generate PDF
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.invoice -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>


<p>
<a asp-action="Create">Create New</a>
</p>


         
       